# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

#Secret Django key
SECRET_KEY=your_django_key

DEBUG=True

#Database data
DB_NAME=your_database_name
DB_USER=your_database_user_name
DB_PASSWORD=your_password
DB_HOST=your_host_name
DB_PORT=your_database_port

#Stripe
STRIPE_API_KEY=your_stripe_api_key
