# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Если подключение локальное, то в host использовать localhost, иначе название сервиса из docker-compose

#Secret Django key
SECRET_KEY=your_django_key

DEBUG=True

#Database data
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=your_host_name
POSTGRES_PORT=your_database_port

#Stripe
STRIPE_API_KEY=your_stripe_api_key

#Send mail settings
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_HOST_USER=your_host_email
EMAIL_HOST_PASSWORD=your_email_host_password

#Celery
CELERY_BROKER_URL=your_redis_url
CELERY_RESULT_BACKEND=your_redis_url
